* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --menu-font-color: #647787;
  --navbar-brand-color: #1875F0;
  --brand-color-light: #e8f1fd;
}

body {
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

a {
  color: var(--menu-font-color);
  text-decoration: none;
}

p {
  color: var(--menu-font-color);
}

.nav {
  width: 100%;
  padding: 20px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  position: fixed;
  z-index: 99;
}

.navbar {
  width: 95%;
  margin: auto;
  display: flex;
}

.navbar__brand {
  width: 20%;
  margin-top: 7px;
}

.navbar__brand h1 {
  font-family: 'Roboto';
  font-size: 24px;
  color: var(--navbar-brand-color);
  font-weight: 900;
}

.navbar__search {
  width: 45%;
}

.navbar__search svg {
  vertical-align: middle;
  margin-right: -30px;
}

.navbar__search input[type="search"] {
  border: none;
  font-family: 'Segoe UI';
  font-size: 0.875rem;
  color: #979797;
  width: 100%;
  padding: 10px 30px;
  text-indent: 10px;
  background: transparent;
}

.navbar__search input[type="search"]:focus {
  border-bottom: 1px solid var(--navbar-brand-color);
}

.navbar__menu {
  width: 35%;
  display: flex;
}

.navbar__menu ul {
  list-style-type: none;
  display: flex;
  width: 60%;
}

.navbar__menu ul li {
  padding: 10px 20px;
}

.navbar__menu ul li a {
  text-decoration: none;
  color: var(--menu-font-color);
  font-size: 0.875rem;
}

.navbar__menu ul li a:hover {
  color: var(--navbar-brand-color);
}

.navbar__menu ul li svg {
  cursor: pointer;
}

.navbar__profile {
  display: flex;
}

.navbar__profile p {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  color: var(--menu-font-color);
  font-size: 0.875rem;
}

.navbar__profile p span {
  font-size: 0.625rem;
}

.navbar__profile img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.sidebar {
  width: 20%;
  background: #fff;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.verify-transfer {
  padding-top: 2rem;
  margin-left: 2rem;
}

.verify-transfer__invoice {
  padding: 15px 20px;
  background-color: #27AE60;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.sidebar__menu--group {
  margin-top: 2rem;
}

.sidebar__menu--group p {
  padding-left: 2rem;
  margin-bottom: 0.75rem;
}

.sidebar__menu--text {
  list-style-type: none;
  padding: 0 0 0.75rem 2rem;
  vertical-align: middle;
}

.sidebar__menu--text svg {
  margin-right: 10px;
}

.sidebar__menu--text a {
  font-size: 14px;
  vertical-align: top;
}

.sidebar__menu--text.active {
  background: var(--brand-color-light);
  padding: 0.75rem 2rem;
  border-left: 5px solid var(--navbar-brand-color);
}

.sidebar__menu--merchant {
  padding-top: 10px;
}

.main {
  width: 80%;
  position: absolute;
  left: 20%;
  margin-top: 10%;
}

.notify {
  width: 95%;
  margin: auto;
  display: flex;
}

.notify__card {
  width: 25%;
  height: 100px;
  background: #fff;
  display: flex;
  margin: 20px 5px 0;
}

.notify__card-lt {
  width: 60%;
}

.notify__card-lt p {
  font-size: 11px;
  margin-top: 30px;
  padding-left: 15px;
}

.notify__card-lt h3 {
  padding-top: 6px;
  padding-left: 15px;
  font-size: 18px;
  font-family: 'Segoe UI';
  font-weight: 500;
  color: #262626;
}

.notify__card-graph {
  width: 40%;
}

.quickview {
  width: 95%;
  margin: auto;
  display: flex;
  margin-top: 1.2rem;
}

.quickview__graph {
  width: 60%;
  background-color: #fff;
  margin-right: 5px;
}

.quickview__graph--heading {
  display: flex;
  padding: 20px 0 0 10px;
}

.quickview__text {
  width: 40%;
}

.quickview__text--order {
  padding: 20px;
  background-color: #fff;
}

.quickview__text--order:nth-child(2) {
  margin-top: 5px;
}

.quickview__text--order h4 {
  font-size: 14px;
  padding-bottom: 5px;
}

.quickview__text--order p {
  font-size: 15px;
  line-height: 27px;
  color: #262626;
}

.quickview__text--seperator {
  background: #FDC203;
  height: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.quickview__text--fill {
  background: #27AE60;
  width: 80%;
  height: 4px;
  border-radius: 5px 0 0 5px;
}

.pending {
  color: #FDC203;
  font-weight: 600;
}


.reconciled {
  color: #27AE60;
  font-weight: 600;
}

.total {
  color: var(--navbar-brand-color);
  font-weight: 600;
}

.date {
  width: 60%;
}

.date h3 {
  color: #4F4F4F;
  font-size: 14px;
}

.duration {
  padding-right: 20px;
}

#duration {
  font-family: 'Segoe UI';
  border: 1px solid #DDE0E3;
  color: #7F8FA4;
  padding: 5px 10px;
}

.scroll-button button {
  background: #fdfdfe;
  padding: 5px 12px;
  border: 1px solid #CED0DA;
  border-radius: 4px;
  cursor: pointer;
}

.scroll-button button:hover {
  background-color: #CED0DA;
}

.scroll-button button:nth-child(1) {
  margin-right: 5px;
}

.payment {
  margin: 2rem auto 0;
  width: 95%;
}

.heading {
  width: 100%;
}

.heading h3 {
  font-size: 25px;
  font-family: 'Segoe UI';
  font-weight: 500;
  margin-bottom: 15px;
}

.payment--head {
  display: flex;
}

.payment--display {
  width: 30%;
}

.payment--display p {
  font-size: 13px;
  color: #262626;
}

.payment--display select {
  border: none;
  background: transparent;
  color: var(--navbar-brand-color);
  font-size: 14px;
  margin: 0 5px;
}

.payment--search {
  width: 40%;
}

.payment--search svg {
  margin-right: -15px;
}

.payment--search input {
  border: none;
  background: transparent;
  width: 80%;
  border-bottom: 1px solid #787878;
  padding-bottom: 5px;
  text-indent: 20px;
}

.payment--show {
  width: 30%;
}

.payment--show p {
  color: #262626;
}

.payment--show span {
  padding-left: 20px;
}

.payment--show p span select {
  border: 1px solid #CED0DA;
  color: #414042;
  padding: 5px;
  background: transparent;
}

.payment--show p span select option {
  background-color: #fff;
  font-size: 13px;
  padding: 10px;
}

.payment--table {
  margin-top: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.payment--table-head {
  background: #EAEEF0;
  width: 100%;
}

.payment--table-head tr th {
  padding: 15px 20px;
  text-align: left;
  font-size: 14px;
  color: #7F8FA4;
  font-family: 'Segoe UI';
}

.item {
  width: 40%;
}

.trans {
  width: 15%;
} 

.payment--table-body {
  background: #fff;
}

.payment--table-row td {
  padding: 25px 15px;
  border-bottom: 1px solid #CCCFD4;
  font-size: 14px;
}

td.item {
  color: #414042;
}

td.item span {
  background: #7F8FA4;
  border-radius: 50px;
  padding: 8px 7px;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
}

td.trans {
  color: #7F8FA4;
}

.status button {
  border: 1px solid #CCCFD4;
  border-radius: 30px;
  padding: 15px 10px;
  width: 100%;
  font-size: 12px;
  font-family: 'Segoe UI';
  background: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.status button:before {
  content: '';
  background: #333;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  display: block;
  margin: 5px 6px 0px 0px;
}

.re {
  color: #27AE60;
}

.status button.re:before {
  background: #27AE60;
}

.pe {
  color: #EBC315;
}

.status button.pe:before {
  background: #EBC315;
}

.unre{
  color: #7F8FA4;
}

.status button.unre:before {
  background: #7F8FA4;
}

.payment--meta {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.entries p {
  color: #000;
}

.payment-navigation button {
  padding: 10px 15px;
  border: 1px solid #CED0DA;
  background: transparent;
  font-family: 'Segoe UI';
  font-size: 13px;
  cursor: pointer;
}

.payment-navigation button.active {
  background-color: var(--navbar-brand-color);
  color: #fff;
}

.nu {
  color: #979797;
}