@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI'), url('../src/asset/fonts/segoeui/Segoe-UI.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('../src/asset/fonts/segoeui/Segoe-UI-Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('../src/asset/fonts/segoeui/Segoe-UI-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('../src/asset/fonts/segoeui/Segoe-UI-Bold-Italic.woff') format('woff');
  }